.inp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: auto;
}
.inp input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  align-self: center;
}
.bt {
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 26px;
  font-weight: bolder;
  align-self: center;
}
