

body {
   
    min-height: 100%;
    background-image: url("../assets/img/fff.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

.lista a:hover {
background-color: black;
transform: scale(1.2);

}
footer {
    margin-top: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}